//- Icon Page 
link(rel = "icon", href = "images/logo.webp")
//- Fonts 
link(rel = "preconnect", href = "https://fonts.googleapis.com")
link(rel = "preconnect", href="https://fonts.gstatic.com" crossorigin )
link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap",
      rel="stylesheet")
//-   Css Styles 
link(rel="stylesheet", href="css/Normalize.css")
link(rel="stylesheet", href="css/all.min.css")
link(rel="stylesheet", href="css/style.css")
link(rel="stylesheet", href="css/Media-Query.css")
